<h1>Should I take an umbrella?</h1>
<form action = "/process_umbrella">
<label for = "user_input_id">Where are you located?</label>
<input type = "text" name = "user_input" id = "user_input_id" />
<button>Submit</button>
</form>
